<div class="container">
  <br>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
    <h2 class="text-danger">There were some errors:</h2>
    <ul>
      <% @trip.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
    </div>
  <% end %>
  <br>
  <h1 class="text-success">Plan a New Trip: </h1>
  <%= form_for @trip do |f| %>
    <div class="form-row">
      <div class="form-group col-md-6">
      <%= f.hidden_field :user_id, value: @trip.user_id %>
      <%= f.text_field :name, :class => "form-control text-secondary", :placeholder => "Trip Name" %>
      </div>
      <div class="form-group col-md-6">
      <%= f.text_field :travel_companions, :class => "form-control text-secondary", :placeholder => "Travel Companions" %>
      </div>
      <div class="form-group col-md-6">
      <%= f.label "Starts"%>
      <%= f.date_field :start_date%>
      </div>
      <div class="form-group col-md-6">
      <%= f.label "Ends"%>
      <%= f.date_field :end_date%>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Country</label>
          </div>
          <%= f.collection_select :country_ids, Country.all, :id, :name, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group col-md-6">
      <%= f.text_area :notes, :class => "form-control text-secondary", :placeholder => "Notes" %>
      </div>
      <div class="form-group col-md-6">
      <%=  f.submit class: "btn btn-info" %>
      <% end %>
      </div>
    </div>
</div>
