<% if @countries.blank? %>
  <h4>There are no countries containing the term <%= params[:search] %>.</h4>
<% end %>


<!-- Jumbotron style for the heading -->
<div class="container pt-4">
  <div class="jumbotron text-center">
    <h1 class="display-4">Wanderlust</h1>
    <p class="lead">Explore via countries you have searched</p>
  </div>
</div>


<!-- Each statment to print out a card style box for each continent with image. -->
<div class="container">
  <br>
  <div class="row">
    <% @countries.each do |country| %>
    <br>
    <div class="col-sm-3 pt-4">
      <div class="card text-center">
        <img src="<%= Country.country_image(country.name)%>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= country.name %></h5>
          <p class="card-text"><%= country.information %></p>
          <!-- Link to the countries show page -->
          <a href="/countries/<%= country.id %>" class="btn btn-warning">Show Me More</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
