<!DOCTYPE html>
<html>
<head>
  <title>TravelPlan</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light" id="navbar">
    <a class="navbar-brand" href="/"><i class="fas fa-globe-americas"></i></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/countries">Countries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/activities">Activities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trips">My Area</a>
        </li>
      </ul>
      <% if logged_in? %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="text-muted" rel="nofollow" data-method="delete" href="/sessions"><i class="fas fa-user-times"></i> Logout </a>
        </li>
      </ul>
      <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/signup"><i class="fas fa-user-edit"></i> Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"><i class="fas fa-user-check"></i> Login</a>
        </li>
      </ul>
      <% end %>
      <div class="form-inline my-2 my-lg-0">
        <%= form_tag("/search", method: "get") do %>
        <%= search_field_tag :search, params[:search], {:class => "search search-bar input-sm chat-input", placeholder: "Search Countries"}%>
        <%= submit_tag "Search", :name => nil, class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </nav>


  <% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
    <li class="text-danger"><%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <%= yield %>
</body>
</html>
